h1 {
  color: white;
  text-align: center;
}

#header {
  background-color: grey;
  height: 15%;
  width: 100%;
  border: 1px solid black;
}

#posts {
  border: 1px solid black;
  color: white;
  background-color: grey;
  height: 75%;
  width: 100%;
  margin-top: 15px;
}

#postsContainer {
  margin: 10px;
}

#footer {
  background-color: grey;
  border: 1px solid black;
  color: white;
  height: 10%;
  width: 100%;
  margin-top: 15px;
}
