a {
  height: 50px;
  width: 100px;

  padding: 5px;
  border-radius: 2px;

  font-size: 50px;
  font-style: none;
  text-decoration: none;

  color: #3b3a36;
}

body {
  background-color: #e9ece5;
}

br {
  height: 10px;
}

div {
  position: absolute;
  top: 200px;
  left: 650px;
}

h2 {
  font-size: 50px;
  color: #3b3a36;
  margin-top: -10px;
  margin-bottom: -5px;
}

#plus {
  margin-left: 16px;
  margin-bottom: -20px;
}

#minus {
  margin-left: 21px;
  margin-top: -30px;
}

#btnCount {
  margin-left: 18px;
}
