body {
  height: 700px;
  width: 100%;
}

.container {
  background-color: #e9ece5;
  
  height: inherit;
  width: inherit;

  margin-top: -10px;

  position: relative;

  right: 10px;

}

.login {
  background-color: #3b3a36;

  border-radius: 8px;

  box-shadow: 0px 5px 5px 5px #c0dfd9;

  height: 210px;
  width: 410px;

  position: relative;
  top: 200px;
  left: 475px;
}


#password {
  background-color: #e9ece5;
  height: 25px;

/*  font-size: 30px;*/
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 900;
  text-align: center;

  height: 25px;
  width: 200px;

  border-radius: 3px;

  border-style: none;

  position: relative;
  left: 30px;
  top: 24px;
}

#passwordLabel {
  font-size: 30px;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  color: #e9ece5;
  font-weight: 900;

   position: relative;
  left: 25px;
  top: 30px;
}

#submit {
  background-color: #e9ece5;

  border-radius: 3px;

  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: #3b3a36;

  border-style: none;

  height: 60px;
  width: 365px;

  padding-bottom: 5px;

  position: relative;
  left: 20px;
  top: 50px;
}

#username {
  background-color: #e9ece5;

  height: 25px;
  width: 200px;

  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 900;
  text-align: center;

  border-radius: 3px;

  border-style: none;
  
  position: relative;
  left: 35px;
  top: 16px;

}

#usernameLabel {
  font-size: 30px;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  color: #e9ece5;
  font-weight: 900;

  position: relative;
  left: 25px;
  top: 20px;
}