body {
  background-color: #e9ece5;
}

h1 {
  background-color: #b3c2bf;
  color: #3b3a36;
  
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 50px;
  text-align: center;
  
  height: 75px;
  width: 100%;
  
  border: none;
  
  position: absolute;
  top: 50px;
}

li {
  color: #3b3a36;

  font-family: Tahoma, Geneva, sans-serif;
  font-size: 75px;

  text-align: center;

  list-style-type: none;

  position: relative;
  top: 200px;
}
